body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    color: #0066cc;
}

.header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}


.jarak {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.berat {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.volume {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
}

select, input, button {
    margin-top: 5px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #0066cc;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #3b9dff;

}

#result {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

#watermark {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    padding: 15px;
}
